# Package setup
setuptools
wheel

# Terminal colours
colorama

# Data science
scipy
pandas

# Machine learning
tensorflow
scikit-learn

# Visualisation
matplotlib
seaborn
plotly

# Configuration
PyYAML

# Jupyter
jupyterlab
notebook
voila